Hello Pokemon Fans today we are going to play The Pokemon Trading Card Game (TCG) with Calyrex but first we are going to play Rock, Paper, Scissors Shoot!

<p>Ready to play!</p>
<p>Enter your name: 
<form action="/name" method="post">
  <input type="text" name="player_name">
  <input type="submit" value="Let's play!">
</form></p>
