<p>Ok <%= @player_name %>, pick one:</p>
<form action="/result">
  <input type="submit" value="Rock">
</form>
<form action="/result">
  <input type="submit" value="Papper">
</form>
<form action="/result">
  <input type="submit" value="Scissor">
</form>
